* {
    box-sizing: border-box;
    margin: 20;
    padding: 40;
}

body {
    overflow-x: hidden;
    font-size: 20px; 
    line-height: 1.6;
    background-color: #c9d7fe;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vw;
    margin: 0 6vw;
    background-color: #fff; 
}
section {
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 28px;
    text-align: center;
    margin-bottom: 24px;
}
h2, h3, h4, h5, h6{
    font-size: 16px;
    text-align: center;
    margin-bottom: 24px;
}
h2, h3, h4, h5, h6{
    font-size: 16px;
    text-align: center;
    margin-bottom: 24px;
}
p {
    font-size: 16px;
    margin-bottom: 16px;
}

img {
    max-width: 60vw;
    margin: auto;
}